html {
  background-color: gray;
}

.App {
  text-align: center;
  
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#pokemon {
  display: flex;
  border: 1px solid black;
  width: 400px;
  border-radius: 5px;
  margin: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(233, 193, 193);
  box-shadow: 5px 5px black;
}
