* {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 10px;
  text-align: center; 
  
}

body {
  background-color: rgb(194, 182, 182);
}

#main {
  border: 5px solid black;
  width: 60%;
  height: 550px;
  margin: 10px auto 10px auto;
}

#formulario {
  background-color: rgb(184, 172, 162);
}